<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="header-content">
        <span>{{ (currentState$ | async)?.currentRoom }}</span>
        <span class="health">❤️ {{ (currentState$ | async)?.health }}</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="chat-container">
    <div class="message-list">
      <ng-container *ngFor="let message of messages">
        <div class="message" [ngClass]="{'received': message.sender === 'bot', 'sent': message.sender === 'user'}">
          <div class="message-content">
            {{ message.content }}
            <div class="message-time"> {{ message.createdAt | date: 'HH:mm' }} </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="message-input-container">
      <ion-input
        placeholder="Type a message"
        class="message-input"
        [(ngModel)]="newMessage"
        (keyup)="handleKeyPress($event)"
      ></ion-input>
      <ion-button fill="clear" (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
